package components

templ Login() {
	<!DOCTYPE html>
	<html lang="en" class="h-full">
		@Head()
		<body class="flex flex-col w-full h-full text-black md:px-5 md:pt-3 font-poppins bg-background">
			@Header()
			@LoginContent()
		</body>
	</html>
}

templ LoginContent() {
	<div class="flex flex-col w-full h-full text-center">
		<h1>hey</h1>
		<h2>hello</h2>
	</div>
}
